{{ define "main" }}

    <p>This is the single template</p>

    <h1>{{ .Title }}</h1>
    <h4>{{ .Date }}</h4>
    <h4>{{ .URL }}</h4>
    <h4>{{ .Params.myVar }}</h4>
    {{ $var2 := "a sample string" }}
    <p style="color: {{.Params.color}}">{{ $var2 }}</p>
    <br>

    {{.Content}}

    <!-- Function -> funcName param1 param2 ... -->

    <p>{{ truncate 10 "This is a really long string"}}</p>

    <p>{{ add 1 5 }}</p>

    <p>{{ sub 1 5 }}</p>

    <p>{{ singularize "dogs" }}</p>
 
{{ end }}

